.App {
  align-items: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table {
  border-block-end: 1px solid black;
  background-size: flex;
  flex-direction: column;
  display: flex;
  text-align: center;
  overflow: none;
  padding: 10px;
}

.container {
  width: 350px;
  flex-direction: row;
  border-radius: 40px;
  display: flex;
  height: flex;
  align-items: center;
  padding: 10px;
  text-decoration-color: azure;
}

.upper-row {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px; 
}

.upper-row-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  padding: 10px;
}

.sitename{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  position: absolute;
  padding: 1px;
  top: 10px;
  right: 42vw;
  left: 42vw;
}

.extInfo{
  pointer-events: visible;
  border: 5px solid rgb(207, 223, 223);
  text-align: center;
  color: darkslategray;
  background-color: darkcyan;
  padding: 10px;
  position: fixed;
  width: 500px;
  left: center;
  top: 290px;
  left: 37vw;
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
  z-index: 1000;
}

.box-header{
  width: 100%;
  font-family: fantasy;
  padding: 10px;
  font-size: xx-large;
  text-align: center;
  position: static;
  color: Azure;
}

.box-text{
  font-family: fantasy;
  color: Azure;
  font-size: larger;
  padding: 5px;
  text-align: left;
  align-content: center;
  font-size: 14.5px;
}
.misc{
  text-align: right;
}

.catText{
  font-size: medium;
  padding: 5px;
}

.plot{
  text-align: center;
  height: auto;
  text-justify: distribute;
}

.searchdiv {
  display: flex;
  direction: ltr;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 117px;
  left: 42vw;
  right: 42.5vw;
}

@media screen and (max-width: 900px) {
  .extInfo{
    left: 10%;
    right: 10%;
  }

  .sitename{
    left: 20%;
    right: 42%;
  }

  .searchdiv{
    right: 42%;
    left: 20%;
  }
}