/*
  Default styling
*/

.App {
  align-items: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*
  list styling
*/

.list{
  display: flex;
  direction:ltr;
  cursor: pointer;
  user-select: none;
  width: 500px;
  height: 232px;
  background-color: whitesmoke;
  padding: 5px;
  margin: 15px;
  transition: .2s ease-in-out;
  overflow: hidden;
}

.list:hover{
  transform: scale(1.1);
}

.listPic{
  position: relative;
  padding: 0px;
  left: 0%;
  top: 10%;
  width: 33%;
  min-width: 100px;
  max-width: 81%;
  height: auto;
}

.textcat{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 10px;
  padding-left: 14px;
  font-size: 14.5px;
  color: #282c34;
  text-align: left;
  text-align-last: auto;
}

/*
  info box styling
*/

.extInfo{
  pointer-events: visible;
  border: 5px solid rgb(207, 223, 223);
  text-align: center;
  color: darkslategray;
  background-color: darkcyan;
  padding: 10px;
  position: fixed;
  width: 500px;
  top: 290px;
  left: 36.5vw;
  right: 48vw;
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
  z-index: 1000;
}

.box-header{
  width: 100%;
  font-family: fantasy;
  padding: 10px;
  font-size: xx-large;
  text-align: center;
  position: static;
  color: Azure;
}

.box-text{
  font-family: fantasy;
  color: Azure;
  font-size: larger;
  padding: 5px;
  text-align: left;
  align-content: center;
  font-size: 14.5px;
}
.misc{
  text-align: right;
}

.catText{
  font-size: medium;
  padding: 5px;
  text-align-last: auto;
}

.plot{
  text-align: center;
  height: auto;
  text-justify: distribute;
}

/*
  Page styling
*/

.listwrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 35vw;
  right: 35vw;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  z-index: 900;
}

.logo{
  padding: 10px;
  position: inherit;
  top: -2px;
}

.sitename{
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  position: inherit;
  padding: 1px;
  top: -14px;
  right: 43.7vw;
  z-index: 1000;
}

.searchdiv{
  display: block;
  direction: ltr;
  padding: 3px;
  position: inherit;
  top: 10px;
  left: 61vw;
  z-index: 999;
}

.toolbar {
  padding: 3px;
  display: block;
  flex-direction: row;
  position: fixed;
  background-color: #383e49;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 60px;
  z-index: 999;
}

/*
  Respondsive querries
*/

@media screen and (max-width: 1200px) {
  .extInfo{
    left: 10%;
    right: 10%;
  }

  .sitename{
    left: 0%;
    right: 60%;
  }

  .searchdiv{
    left: 45.5%;
  }

  .list{
    right: 20%;
    left: 12%;
  }
}