.App {
  align-items: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table {
  border-block-end: 1px solid black;
  background-size: flex;
  flex-direction: column;
  display: flex;
  text-align: center;
  overflow: none;
  padding: 10px;
}

.container {
  width: 350px;
  flex-direction: row;
  border-radius: 40px;
  display: flex;
  height: flex;
  align-items: center;
  padding: 10px;
  text-decoration-color: azure;
}

.upper-row {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px; 
}

.upper-row-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  padding: 10px;
}

.extInfo{
  pointer-events: visible;
  border: 5px solid rgb(207, 223, 223);
  text-align: center;
  cursor: pointer;
  color: darkslategray;
  background-color: darkcyan;
  padding: 10px;
  position: fixed;
  width: 500px;
  left: center;
  top: 15vw;
  left: 36vw;
  z-index: 1000;
}

.box-header{
  width: 100%;
  font-family: fantasy;
  padding: 10px;
  font-size: xx-large;
  text-align: center;
  position: static;
  color: Azure;
}

.box-text{
  font-family: fantasy;
  color: Azure;
  font-size: larger;
  padding: 5px;
  text-align: left;
  align-content: center;
  font-size: 14.5px;
}
.misc{
  text-align: right;
}

.catText{
  font-size: medium;
  padding: 5px;
}

.plot{
  text-align: center;
  height: auto;
  text-justify: distribute;
}